body {
  font-family: 'Indie Flower', cursive;
  background: url("ignasi_pattern_s.png")
}


/*Navbar Styling*/

.navbar-default {
  background-color: #d1e526;
  border-color: #82ad44;
}
.navbar-default .navbar-brand {
  color: #89c15b;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #0b0d0b;
}
.navbar-default .navbar-text {
  color: #89c15b;
}
.navbar-default .navbar-nav > li > a {
  color: #89c15b;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #0b0d0b;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #d1e526;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #89c15b;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #0b0d0b;
  background-color: #82ad44;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #82ad44;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #0b0d0b;
  background-color: #82ad44;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0b0d0b;
  background-color: #82ad44;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #0b0d0b;
  background-color: #82ad44;
}
.navbar-default .navbar-toggle {
  border-color: #82ad44;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #82ad44;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #89c15b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #89c15b;
}
.navbar-default .navbar-link {
  color: #89c15b;
}
.navbar-default .navbar-link:hover {
  color: #0b0d0b;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #89c15b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #0b0d0b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #0b0d0b;
    background-color: #82ad44;
  }
}