body {
  font-family: 'Fjalla One', sans-serif;
  background: url("wood_pattern.png");
  font-size: 2.0em;
}


/*Navbar Styling*/
.navbar-default {
  background-color: #fb0000;
  border-color: #FB0000;
}
.navbar-default .navbar-brand {
  color: #f2f2f2;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #b8ecff;
}
.navbar-default .navbar-text {
  color: #f2f2f2;
}
.navbar-default .navbar-nav > li > a {
  color: #f2f2f2;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #b8ecff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #fb0000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #f2f2f2;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #b8ecff;
  background-color: #FB0000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #FB0000;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #b8ecff;
  background-color: #FB0000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #b8ecff;
  background-color: #FB0000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #b8ecff;
  background-color: #FB0000;
}
.navbar-default .navbar-toggle {
  border-color: #FB0000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #FB0000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f2f2f2;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f2f2f2;
}
.navbar-default .navbar-link {
  color: #f2f2f2;
}
.navbar-default .navbar-link:hover {
  color: #b8ecff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f2f2f2;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #b8ecff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #b8ecff;
    background-color: #FB0000;
  }
}

.discount_item{
  color: red;
}


.info-background {
  background: #FFFFFF;
  border-radius: 10px;
  list-style-type: none;
}

.img-wrapper {
  height: 280px;
  background: #FFFFFF;
  margin: 0px 0px 10px 0px;
}

.search-box {
  color: #FFFFFF;
}


ul .error {
  color: red;
}




