<h1>Mark's Super Sketchy Store</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Image</th>
  </tr>
  <% @all_products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
    <td> <img class="img-responsive" src=<%= product.image %>></td>
  </tr>
  <% end %>
</table>